<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943041985172-ib47msrg3p7t3r8cmh8d7q4h7mh874u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943041985172-ib47msrg3p7t3r8cmh8d7q4h7mh874u9</string>
	<key>API_KEY</key>
	<string>AIzaSyDwlil7q9U4g62RDqQ_p7TmZZACVdfEAd4</string>
	<key>GCM_SENDER_ID</key>
	<string>943041985172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaSMApp</string>
	<key>PROJECT_ID</key>
	<string>instagram-7579b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-7579b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943041985172:ios:b122f5124515f1b9779281</string>
</dict>
</plist>